<%= link_to "Home", root_path %>

<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>

<h1>
  <%= link_to @dish.name, dish_path(@dish) %>
</h1>
<p>Serves <%= @dish.base_servings %></p>

<h2>
  <% if @dish.recipe_url.present? %>
    <%= link_to "Recipe", @dish.recipe_url %>
  <% else %>
    Recipe
  <% end %>
</h2>

<% if @dish.recipe.present? %>
  <p><%= @dish.recipe %></p>
<% end %>

<%= form_with(model: [@dish, @dish.items.build]) do |form| %>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 0,required: true, step: :any %>
  </div>
  <div>
    <%= form.label :unit %>
    <%= form.collection_select :unit_id, Unit.a_to_z, :id, :name, prompt: true %>
  </div>
  <div>
    <%= form.label :product %>
    <%= form.collection_select :product_id, Product.a_to_z, :id, :name, prompt: true %>
  </div>
  <%= form.button %>
<% end %>
