<%= link_to "Home", root_path %>

<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>

<h1><%= @dish.name %></h1>
<p>Serves <%= @dish.base_servings %></p>

<h2>
  <% if @dish.recipe_url.present? %>
    <%= link_to "Recipe", @dish.recipe_url %>
  <% else %>
    Recipe
  <% end %>
</h2>

<% if @dish.recipe.present? %>
  <p><%= @dish.recipe %></p>
<% end %>
