<%= link_to "Home", root_path %>
<div class="flex-container">
  <div class="margin-right">
    <h1>Products</h1>
    <ol>
      <% @products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>
    </ol>
  </div>
  <div>
    <h1>Add a new product</h1>
    <%= form_with model: Product.new do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
      <%= form.button %>
    <% end %>
    <% if flash[:notice] %>
      <p>
        <%= flash[:notice] %>
      </p>
    <% end %>
    <% if flash[:warning] %>
      <p>
        <%= flash[:warning] %>
      </p>
    <% end %>
  </div>
</div>
